# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Assorted files

*.pdb
*.ilk
*.ipch
*.db
*.opendb
*.suo
*.db-shm
*.db-wal
*.tlog
*.exp

/build
/.idea/
**/cmake-build-debug/
bin/

plcore/3rdparty/glew-2.2.0/glew.pc

# PVS
*.PVS-Studio.*
